<!DOCTYPE html>
<html lang="en" id="root" class="unstarted">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <script src="../../js/howler.min.js"></script>
  <script>
    //load music for engine
    const loadMusic = [
      {
        location: "theCover",
        mp3: "audio.mp3",
      },
      {
        location: "one",
        mp3: "song2.mp3",
      },
      {
        location: "two",
        mp3: "song3.mp3",
      },
    ];
  </script>
  <body>
    <!-- COVER-->
    <!-- <div id="testCon"></div> -->
    <main id="theCover">
      <div id="startScreen">
        <span onclick="startEngine()">begin</span>
        <p>
          please turn up the audio on your digital computing device to fully
          experience this month's zine
        </p>
        <noscript
          >Sorry, but you need Javascript enabled to read this zine.</noscript
        >
      </div>
    </main>
    <!-- NAV -->
    <nav>
      <div>
        <h2>inhabiting this world:</h2>
        <ul>
          <li><a href="#one">Piece One</a></li>
          <li>
            <a href="#two">Piece Two</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- GLOBE-->
    <section id="one">
      <img src="projectOne/luigi.png" alt="avatar" id="avatar" />
      <div id="bg-contain">
        <video
          src="projectOne/test.webm"
          loop
          autoplay
          id="city"
          style="left: 0px"
        ></video>
      </div>
      <div id="instruct">click & hold to walk / tap to run</div>
      <script src="projectOne/globe.js"></script>
    </section>

    <!-- COMIC-->
    <section id="two">section 2</section>
    <footer>
      <h3>contributions by:</h3>
      <ul>
        <li>Gang Fight - <span>coding, art</span></li>
        <li>Josue - <span>coding, art</span></li>
        <li>Austin Hamburg - <span>coding, piano</span></li>
      </ul>
    </footer>
    <script src="../../js/musicFadeEngine.js"></script>
  </body>
</html>
