<!DOCTYPE html>
<html lang="en" id="root" class="unstarted">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui"
    />
    <title>Issue #1: Hello World</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <script src="../../js/howler.min.js"></script>
  <script>
    //load music for engine
    const loadMusic = [
      {
        location: "theCover",
        mp3: "helloWorld.mp3",
        loopPoint: 9,
      },
      {
        location: "one",
        mp3: "cityscape-bgm.mp3",
        loopPoint: null,
      },
      {
        location: "two",
        mp3: "salvagedparts-bgm.mp3",
        loopPoint: null,
      },
    ];
  </script>
  <body>
    <!-- COVER-->
    <main id="theCover">
      <div id="presentedBy">Lucky Card e-Zine #1</div>
      <div id="startScreen">
        <span onclick="startEngine()">begin</span>
        <p>
          please turn up the audio on your digital computing device to fully
          experience this month's zine
        </p>
        <noscript
          >Sorry, but you need Javascript enabled to read this zine.</noscript
        >
      </div>
      <div id="intro">
        <span>HELLO WORLD.</span>
        <p>
          hello. welcome to the first issue of our zine. we are still figuring
          out what we want to say or who we want to be. but we know that we
          wanted to say one thing for sure. "hello world".
        </p>
      </div>
      <!-- NAV -->
      <nav id="navigation">
        <div>
          <h2>today's menu:</h2>
          <ul>
            <li><a href="#two">salvage sounds</a></li>
            <li>
              <a href="#one">hello city</a>
            </li>
          </ul>
        </div>
      </nav>
    </main>
    <div id="halftone"></div>

    <!-- COMIC-->
    <section id="two">
      <div id="astroScene">
        <div class="bigImage">
          <img src="projectTwo/image0.gif" alt="Crash Landing" />
          <p>
            It's been days since I crash landed on this new planet. Here's what
            I've been able to salvage.
          </p>
        </div>
        <div id="buttons">
          <div class="instrument" data-sound="bento">
            <img src="projectTwo/deb0.gif" alt="Bento-polator" />
            <span>1. Bento-polator</span>
          </div>
          <div class="instrument" data-sound="doom">
            <img src="projectTwo/doom0.gif" alt="Instrument" />
            <span>2. DoomBlob</span>
          </div>
          <div class="instrument" data-sound="debris">
            <img src="projectTwo/Debris_Chute0.gif" alt="Instrument" />
            <span>3. Debris chute</span>
          </div>
          <div class="instrument" data-sound="wattza">
            <img src="projectTwo/Debris_Chute0.gif" alt="Instrument" />
            <span>4. Wattza Matter</span>
          </div>
          <div class="instrument" data-sound="fuelcell">
            <img src="projectTwo/FCEL0.gif" alt="Instrument" />
            <span>5. Fuel Cell</span>
          </div>
          <div class="instrument" data-sound="nebupump">
            <img src="projectTwo/Debris_Chute0.gif" alt="Instrument" />
            <span>6. Nebu-Pump</span>
          </div>
        </div>
        <div class="bigImage">
          <img src="projectTwo/image0.gif" alt="Chilling Out" />
        </div>
      </div>
      <script src="projectTwo/planet.js"></script>
    </section>

    <!-- GLOBE-->
    <section id="one">
      <div class="wrap">
        <img src="projectOne/idle.gif" alt="avatar" id="avatar" />
        <div id="bg-contain">
          <video
            src="projectOne/Cityscape_V2_10secs.webm"
            id="city"
            style="left: 0px"
          ></video>
        </div>
        <div id="instruct">hold to walk</div>
        <script src="projectOne/globe.js"></script>
      </div>
    </section>

    <footer>
      <h3>contributions by:</h3>
      <ul>
        <li>Gang Fight - <span>project 1 lead, programming</span></li>
        <li>
          Josue - <span>project 2 lead, 3D Animation, Illustrations</span>
        </li>
        <li>Austin Amberg - <span>Audio</span></li>
        <li>Eddie Hunter sprite - <span>Streets of Rage 2</span></li>
      </ul>
    </footer>
    <script src="../../js/musicFadeEngine.js"></script>
  </body>
</html>
